<div ng-if="!currentUser" class="loginmodal">


        <h1>Hi there!</h1><img class="pupimage" src="/images/pupfacescrib.svg"/></h1>
    <form ng-submit="loginUser(user)">
        <div class="logininfo">
            <fieldset>
                <p>Email</p>
                <input type="text" placeholder="Email" ng-model="user.email">
                <p>Password</p>
                <input placeholder="Password" type="password" ng-model="user.password">
              </fieldset>
                  </div>
          <fieldset>
            <label class="collapse" for="_1">New User</label>
            <input id="_1" type="checkbox">
            <div>

                    <div class="register" ><p>What's your name?</p>
                    <input placeholder="Name" type="text" ng-model="user.name"></div>
                    <div class="register"><p>What's your favorite color?</p>
                    <input placeholder="Color" type="text" ng-model="user.color"></div>

            </div>
            </fieldset>

        <button class="loginbutton" type="submit" name="login">log in!</button>
    </form>

</div>
<div ng-if="currentUser" class="profile">

    <h1 ng-model="currentUser">Hi,
        {{currentUser.name}}!</h1>


        <div class="usercolors">



        </div>
    <form ng-submit="logoutUser()">
        <button type="submit" name="logout">log out!</button>
    </form>

</div>
