
<div class="container">
	<div class="carouselcontainer"
	  <button type="button" ng-click="getColors()">GET THE PAGES</button>
	<div class="colorbox">
	  <form ng-submit="addPage(newPage)"><!--posts new beers-->
	    <input type="text" ng-model="newPage.name" placeholder="add your name">
				    <input type="text" ng-model="newPage.image" placeholder="add your image">
	  </form>

	      <!-- <div   ng-bind-html="trustThisSVG()">
					<div ng-bind="colorPages">
					</div> -->
					<div id="repeater">

					</div>
					<!-- <div ng-repeat="onePage in colorPages">
						{{onePage.html}}
					</div> -->
	        <h2>
	          <!-- <span>{{onePage.name}}</span> -->


	          <button type="button" ng-hide="readyToUpdate" ng-click="deletePage(onePage)">DRINK</button>
	        </h2>

	      </div>
	</div>
</div>
</div>
