<div class='bluebg'>
<div class="contactcontainer"
  <form enctype="text/plain" id="contact">
    <div class="left">
    <fieldset>
      <input class="leftmargin"placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input class="leftmargin"placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <div class='buttons left'>
      <button name="submit" tabindex="4" type="submit" id="contact-submit" data-submit="Send">Submit</button>
      <!-- <button type="reset" value="Reset">Reset form</button> -->
    </div>
  </div>
    <div>
    <fieldsetclass="right">
      <textarea placeholder="Type your message here...." tabindex="3" required></textarea>
    </fieldset>
    <fieldset>
    </div>

    </fieldset>
  </form>
</div>
</div>
